@media only screen and (max-width: 800px) {
	table#resultadosBusquedaCD td:nth-child(1), 
	table#resultadosBusquedaCD th:nth-child(1) {display: none;}
	table#resultadosBusquedaCD td:nth-child(4), 
	table#resultadosBusquedaCD th:nth-child(4) {display: none;}
	table#resultadosBusquedaMCU td:nth-child(1),
	table#resultadosBusquedaMCU td:nth-child(4),
	table#resultadosBusquedaMCU td:nth-child(5),
	table#resultadosBusquedaMCU td:nth-child(6),
	table#resultadosBusquedaMCU td:nth-child(7),
	table#resultadosBusquedaMCU th:nth-child(1),
	table#resultadosBusquedaMCU th:nth-child(4),
	table#resultadosBusquedaMCU th:nth-child(5),
	table#resultadosBusquedaMCU th:nth-child(6),
	table#resultadosBusquedaMCU th:nth-child(7) {display: none;}
}
@media only screen and (max-width: 400px) {
	table#resultadosBusquedaCD td:nth-child(1), 
	table#resultadosBusquedaCD th:nth-child(1) {display: none;}
	table#resultadosBusquedaCD td:nth-child(4), 
	table#resultadosBusquedaCD th:nth-child(4) {display: none;}
	table#resultadosBusquedaCD td:nth-child(5), 
	table#resultadosBusquedaCD th:nth-child(5) {display: none;}
	table#resultadosBusquedaCD td:nth-child(6), 
	table#resultadosBusquedaCD th:nth-child(6) {display: none;}
	table#resultadosBusquedaMCU td:nth-child(1),
	table#resultadosBusquedaMCU td:nth-child(4),
	table#resultadosBusquedaMCU td:nth-child(5),
	table#resultadosBusquedaMCU td:nth-child(6),
	table#resultadosBusquedaMCU td:nth-child(7),
	table#resultadosBusquedaMCU th:nth-child(1),
	table#resultadosBusquedaMCU th:nth-child(4),
	table#resultadosBusquedaMCU th:nth-child(5),
	table#resultadosBusquedaMCU th:nth-child(6),
	table#resultadosBusquedaMCU th:nth-child(7) {display: none;}
}
table#resultadosBusquedaCD tr:hover {
    cursor: pointer;
}
span.numeroTrack {
	margin: 5px 20px 20px 0px;
	font-weight: bold;
	vertical-align: middle !important;
}
div.navbar li:hover {
	background-color: rgb(215,215,215);
}
div.cd h2.nombreDisco{
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans serif;
}
div.cd h3.grupoDisco {
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}
a.enlaceMCU {
	text-decoration: underline;
	color: orange;
	border: solid 1px black;
	padding: 0 3px 0 3px;
}
span.nota {
	font-size: small;
	font-style: italic;
}
div.cabeceraMCU {
	height: 63px;
	background-image: url('../img/img_MinisterioCultura.gif');
	background-repeat: no-repeat;
	background-color: rgb(247,205,25);
	margin: 0;
	padding: 0;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	text-align: right;
	line-height: 63px;
	cursor: pointer;
}
div.cabeceraMCU span {
	text-shadow: 0px 1px 1px #4d4d4d;
	color: #222;
	font: large 'LeagueGothicRegular';
	vertical-align: middle;
	margin: 0 20px 0 0;
}
#resultadosBusquedaMCU tbody tr {
	cursor: pointer;
}